datetime
python-docx
streamlit
pandas
ydata-profiling
streamlit-pandas-profiling
matplotlib
seaborn
plotly
PyPDF2
scikit-learn
scipy
langchain
langchain-google-genai
faiss-cpu
python-dotenv
google-generativeai
openai
langchain
